<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="content-type" charset="UTF-8">
    <title>系统信息</title>
    <link rel="stylesheet" type="text/css"
          href="../lib/bootstrap-3.3.7/dist/css/bootstrap.min.css">
    <style type="text/css">
		.card {
			background-color: #f8f8f8;
			margin: 15px;
			padding: 15px;
			width: 300px;
			height: 120px;
			position: relative;
			border-radius: 12px;
			display: inline-block;
		}
		.card p {
		    padding-top: 15px;
		}

    </style>
</head>
<body>
<nav class="navbar navbar-inverse" role="navigation">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#example-navbar-collapse">
                <span class="sr-only">切换导航</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">
                <!-- <img src="<%=path %>/images/a.jpg" height="100%" /> -->
                <span>理性消费 健康生活</span>
            </a>
        </div>
        <div class="collapse navbar-collapse" id="example-navbar-collapse">
            <ul class="nav navbar-nav">
                <li>
                    <a class="icon-bar" th:href="@{/bill/list}">账单一览</a>
                </li>
                <li><a th:href="@{/bill/type}">账单分类</a>
                </li>
                <li class="active">
                    <a th:href="@{/sys/info}">系统信息</a>
                </li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li><a href="#" th:href="@{/logout}">安全退出</a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<div class="container-fluid">
    <div class="row">
        <div class="col-sm-2">
            <a th:href="@{/bill/list}" class="list-group-item">
                <span class="glyphicon glyphicon-list"></span>&nbsp;&nbsp;账单一览
            </a>
            <a th:href="@{/bill/type}" class="list-group-item">
                    <span class="glyphicon glyphicon-tags" aria-hidden="true">
                    </span>&nbsp;&nbsp;账单分类</a>
            <a th:href="@{/sys/info}" class="list-group-item active">
                    <span class="glyphicon glyphicon-user" aria-hidden="true">
                    </span>&nbsp;&nbsp;系统信息</a>
        </div>
        <!--左边菜单栏-->
        <div class="col-sm-10">
            <ol class="breadcrumb">
                <li class="active">菜单
                </li>
                <li class="active">系统信息
                </li>
            </ol>
        </div>

        <div class="col-sm-10">
            <div class="row">
                <div class="card">
                    <h5>操作系统版本:</h5>
                    <p th:text="${sysInfo.getOsVersion()}"></p>
                </div>
                <div class="card">
                    <h5>Java运行时版本:</h5>
                    <p th:text="${sysInfo.getJavaVersion()}"></p>
                </div>
                <div class="card">
                    <h5>SpringBoot版本:</h5>
                    <p th:text="${sysInfo.getSpringBootVersion()}"></p>
                </div>
                <div class="card">
                    <h5>MySQL版本:</h5>
                    <p th:text="${sysInfo.getMysqlVersion()}"></p>
                </div>
                <div class="card">
                    <h5>Thymeleaf版本:</h5>
                    <p th:text="${sysInfo.getThymeleafVersion()}"></p>
                </div>
                <div class="card">
                    <h5>操作系统版本:</h5>
                    <p th:text="${sysInfo.getOsVersion()}"></p>
                </div>
                <div class="card">
                    <h5>Java运行时版本:</h5>
                    <p th:text="${sysInfo.getJavaVersion()}"></p>
                </div>
                <div class="card">
                    <h5>SpringBoot版本:</h5>
                    <p th:text="${sysInfo.getSpringBootVersion()}"></p>
                </div>
                <div class="card">
                    <h5>MySQL版本:</h5>
                    <p th:text="${sysInfo.getMysqlVersion()}"></p>
                </div>
                <div class="card">
                    <h5>我的博客地址</h5>
                    <p>https://iced-cola.com</p>
                </div>
            </div>
        </div>
    </div>
</div>


<!-- 底部页脚部分 -->
<div class="footer">
    <p class="text-center">
        &copy; 2019-2020 iced-cola.
    </p>
</div>

<script src="../lib/jquery-3.4.1/jquery-3.4.1.min.js"></script>
<script src="../lib/bootstrap-3.3.7/dist/js/bootstrap.min.js"></script>
<script type="text/javascript">
    var browserInfor = {};
    var browserInfor.getBrowserInfo = function(){
        var agent = navigator.userAgent.toLowerCase() ;
        var sUserAgent = navigator.userAgent;
        var regStr_ie = /msie [\d.]+;/gi ;
        var regStr_ff = /firefox\/[\d.]+/gi
        var regStr_chrome = /chrome\/[\d.]+/gi ;
        var regStr_saf = /safari\/[\d.]+/gi ;
        //IE
        if(agent.indexOf("msie") > 0)
        {
            return "浏览器："+agent.match(regStr_ie);
        }
        //firefox
        if(agent.indexOf("firefox") > 0)
        {
            return "浏览器："+agent.match(regStr_ff) ;
        }
        //Chrome
        if(agent.indexOf("chrome") > 0)
        {
            return "浏览器："+agent.match(regStr_chrome);
        }
        //Safari
        if(agent.indexOf("safari") > 0 && agent.indexOf("chrome") < 0)
        {
            return "浏览器："+agent.match(regStr_saf) ;
        }
    }
    var browserInfor.detectOS = function(){
        var sUserAgent = navigator.userAgent;
        var isWin = (navigator.platform == "Win32") || (navigator.platform == "Windows");
        var isMac = (navigator.platform == "Mac68K") || (navigator.platform == "MacPPC") || (navigator.platform == "Macintosh") || (navigator.platform == "MacIntel");
        if (isMac) return "Mac";
        var isUnix = (navigator.platform == "X11") && !isWin && !isMac;
        if (isUnix) return "Unix";
        var isLinux = (String(navigator.platform).indexOf("Linux") > -1);
        var bIsAndroid = sUserAgent.toLowerCase().match(/android/i) == "android";
        if (isLinux) {
        if(bIsAndroid) return "Android";
        else return "Linux";
        }
        if (isWin) {
        var isWin2K = sUserAgent.indexOf("Windows NT 5.0") > -1 || sUserAgent.indexOf("Windows 2000") > -1;
        if (isWin2K) return "操作系统：Win2000";
        var isWinXP = sUserAgent.indexOf("Windows NT 5.1") > -1 || sUserAgent.indexOf("Windows XP") > -1
        sUserAgent.indexOf("Windows XP") > -1;
        if (isWinXP) return "操作系统：WinXP";
        var isWin2003 = sUserAgent.indexOf("Windows NT 5.2") > -1 || sUserAgent.indexOf("Windows 2003") > -1;
        if (isWin2003) return "操作系统：Win2003";
        var isWinVista= sUserAgent.indexOf("Windows NT 6.0") > -1 || sUserAgent.indexOf("Windows Vista") > -1;
        if (isWinVista) return "操作系统：WinVista";
        var isWin7 = sUserAgent.indexOf("Windows NT 6.1") > -1 || sUserAgent.indexOf("Windows 7") > -1;
        if (isWin7) return "操作系统：Win7";
        var isWin8 = sUserAgent.indexOf("windows nt6.2") > -1 || sUserAgent.indexOf("Windows 8") > -1;
        if (isWin8) return "操作系统：Win8";
        }
        return "其他";
    }
    var browserInfor.digits = function(){
        var agent = navigator.userAgent.toLowerCase() ;
        var sUserAgent = navigator.userAgent;
        var sUserAgent = navigator.userAgent;
        var is64 = sUserAgent.indexOf("WOW64") > -1;
        if (is64) {
            return "64位";
        }else{
           return "32位";
        }
    }
alert(browserInfor.getBrowserInfo()+'\n'+browserInfor.detectOS()+'-'+browserInfor.digits());

</script>
</body>
</html>